.filter-eachnote-container{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //overflow-y: scroll;
  //background-color: aqua;
  padding: 5px;
  .note-list {
    width: 100%;
    margin: auto;
    height: 100%;
    //background-color: wheat;
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    //overflow-y: scroll;
    //position: relative;
    padding: 10px;
    .note{
      width: 100%;
      //background-color: aquamarine;
      height: 8rem;
      background-color: rgb(212, 212, 212);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      padding-left: 8px;
      font-size: 1em;
      //overflow: scroll;
      div{
        width: 450px;
        height: 100px;
        overflow: hidden;
        font-size: 1em;
        //background-color: aquamarine;
        padding: 5px;
        text-transform: capitalize;
        cursor: pointer;
      }
      button{
        width: 50px;
        height: 100%;
        background-color: red;
        color : whitesmoke;
        outline: none;
        border: 1px solid rgb(255, 0, 0);
        cursor: pointer;
        display: block;
        transition: 0.5s ease;
      }
    }
    
  }
}

  h5{
    color: rgb(68, 71, 71);
    font-size: 2.5em;
  }