.filter-eachnote-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  .note-list {
    width: 100%;
    margin: auto;
    height: 100%;
    ///background-color: wheat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //overflow-y: scroll;
    //position: relative;
    padding: 10px;
    .note{
      width: 100%;
      height: 3rem;
      background-color: rgb(212, 212, 212);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      padding-left: 8px;
      font-size: 1em;
      //overflow: scroll;
      div{
        width: 400px;
        height: 48px;
        overflow: hidden;
        font-size: 1em;
      }
      button{
        width: 45px;
        height: 100%;
        background-color: red;
        color : whitesmoke;
        outline: none;
        border: 1px solid rgb(255, 0, 0);
        cursor: pointer;
        display: block;
        transition: 0.5s ease;
      }
    }
    
  }
}

.filter-notes{
  h5{
    color: rgb(68, 71, 71);
    font-size: 2.5em;
  }
}
.filter-logic-container{
  width: 100%;
  height: 65%;
  position: relative;
}